[workspace]
members = [
  "programs/nova_staking"
]
resolver = "2"

[profile.release]
overflow-checks = true
lto = "fat"
opt-level = 3

[patch.crates-io]
proc-macro-crate = { git = "https://github.com/bkchr/proc-macro-crate", tag = "v3.2.0" }
borsh = { git = "https://github.com/near/borsh-rs", tag = "borsh-v1.5.5" }
constant_time_eq = "=0.3.1"
zeroize = { git = "https://github.com/RustCrypto/utils", rev = "d5f8c3a" }

